* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none; 
}

body.loading:before {
content: "";
position: fixed;
z-index: 100000;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: black;
}

body.loading:after {
content: "";
position: fixed;
z-index: 100001;
top: 50%;
left: 50%;
width: 60px;
height: 60px;
margin: -30px 0 0 -30px;
pointer-events: none;
border-radius: 50%;
opacity: 0.4;
background: white;
animation: loaderAnim 0.7s linear infinite alternate forwards, rotateAnim 1.5s linear infinite;
}

@keyframes loaderAnim {
to {
opacity: 1;
transform: scale3d(0.5, 0.5, 1);
}
}

@keyframes rotateAnim {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}

body {
font-family: Arial, sans-serif;
background-image: linear-gradient(to bottom, rgba(2, 70, 215, 0.774), rgba(2, 162, 53, 0.829)), url('/IMG-Novas/EasyWalkBackground22.png');
background-blend-mode: overlay;
color: #f0e8e8;
transition: background-color 0.5s ease;
}

section.banner {
position: relative;
height: 650px;
width: 70%;
margin-left: 200px;
overflow: hidden;
text-align: center;
color: #000000;
margin-top: 20px;
}




.carousel {
display: flex;
width: 100%;
animation: carousel 20s infinite;
box-shadow: 1 0 30px rgba(14, 9, 9, 0.1);
}

.carousel img {
width: 100%;
height: 600px;
border-radius: 10px;
box-shadow: 1 0 30px rgba(14, 9, 9, 0.1);
}

@keyframes carousel {
0% { transform: translateX(0); }
20% { transform: translateX(0); }
25% { transform: translateX(-100%); }
40% { transform: translateX(-100%); }
45% { transform: translateX(-200%); }
60% { transform: translateX(-200%); }
65% { transform: translateX(-300%); }
80% { transform: translateX(-300%); }
85% { transform: translateX(-400%); }
100% { transform: translateX(-400%); }
}

.banner-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.banner h2 {
font-size: 2.5rem;
margin-bottom: 20px;
}

.banner p {
font-size: 1.2rem;
margin-bottom: 40px;
}

.banner button {
background-color: #000000;
color: #000000;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.banner button:hover {
background-color: #1d1d1d;
}

section.products {
padding: 50px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.product {
width: calc(25% - 20px);
background-image: linear-gradient(to bottom, rgba(23, 42, 69, 0.774), rgba(2, 1, 33, 0.829));
border-radius: 5px;
box-shadow: 1 0 30px rgba(14, 9, 9, 0.1);
padding: 20px;
margin-bottom: 30px;
}

.product img {
max-width: 100%;
height: auto;
width: auto;
border-radius: 5px;
margin-bottom: 10px;
}

.product h3 {
font-size: 20px;
margin-bottom: 10px;
color: #eae0e0;
}

.product p {
color: #fbf6f6;
}

.product button {
background-color: #6a97ce;
color: #eee7e7;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.product button:hover {
background-color: #989898;
color: #000000;
}

.filter {
color: #000000;
margin-bottom: 20px;
}

.filterButton {
padding: 10px;
border-radius: 5px;
border: 1px solid #000000;
background-color: #ffffff;
cursor: pointer;
}

.filterOptions {
margin-top: 10px;
padding: 10px;
border: 1px solid #000000;
border-radius: 5px;
background-color: #ffffff;
}


@keyframes slideDown {
from {
opacity: 0;
transform: translateY(-20px);
}
to {
opacity: 1;
transform: translateY(0);
}
}



.slide {
flex: 1 0 100%;
overflow: hidden;
}

.slide img {
width: 100%;
}

nav ul li a {
color: #000000;
text-decoration: none;
margin-top: 10px;
padding: 5px 10px;
transition: background-color 0.3s ease;
}

nav ul li a:hover {
background-color: rgba(255, 255, 255, 0.1);
border-radius: 5px;
}

footer {
background: linear-gradient(to bottom, #2e495f, #000000);
    color: #fbf9f9;
    padding: 20px 50px;
    text-align: center;
    margin-top: auto;
    width: 100%;
    transition: bottom 0.5s ease;
    position: relative;
    z-index: 1;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer-column h5 {
    margin-bottom: 15px;
    color: #fafafa;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fffdfd;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: #f8f3f3;
}

.footer-bottom {
    margin-top: 20px;
    color: #fbf9f9;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 999;
    transition: background-color 0.3s ease;
}

.scroll-to-top:hover {
    background-color: #1d1d1d;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #2f2f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.pagination button:hover {
    background-color: #9e9e9e;
}

.pagination .active {
    background-color: #a5a5a5;
}

.filterButton {
background-color: #0c2b39;
margin-left: 40%;
color: #fff;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}
.filterButton:hover {
background-color: #eeebeb;
color: #000000;
}

.informacoes {
margin-top: 20px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
gap: 20px;
padding: 20px;
background: linear-gradient(to bottom, #01062bcd, #7bb0da92);
box-shadow: #000000 55px 10px 100px;
}

.info {
position: relative;
background: linear-gradient(to bottom, #000000, #f0f0f0);
border-radius: 20px;
overflow: hidden;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease, box-shadow 0.3s ease;
width: calc(33.33% - 40px);
}

.info:hover {
transform: translateY(-10px);
box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.info img {
width: 100%;
display: block;
border-radius: 20px 20px 0 0;
object-fit: cover;
}

.info-content {
position: relative;
padding: 20px;
background: linear-gradient(to bottom, #ffffff, #f0f0f0);
}

.info p {
font-size: 16px;
line-height: 1.6;
margin-bottom: 10px;
color: #000000;
}

.info b {
font-size: 20px;
display: block;
margin-bottom: 10px;
color: #000000;
}

.subcard {
background-color: #f5f5f5;
border-radius: 10px;
padding: 10px;
z-index: 999;
width: 200px;
text-align: center;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
display: none;
position: absolute;
bottom: calc(100% + 10px);
left: 50%;
transform: translateX(-50%);
}

.subcard p {
font-size: 14px;
color: #666;
margin: 5px 0;
}

.subcard a {
color: #007bff;
text-decoration: none;
font-weight: bold;
}


